@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');


.crud-container {
   height: 100%;
    padding: 5%;
    align-content: center;
    margin-right: 10%;
    margin-left: 10%;
    border: 1px solid;
    font-family: 'Roboto', sans-serif;
    text-align: center;

  
}

.crud-container form {
    margin-left: 25%;
}

.crud-container button {
    margin-top: 5%;
    margin-right: 50%;
}


.crud-container h1 {
    margin-top: 5%;
    
}

.formulario, .info-candidato, .usuarios-registrados {
    background-color: aquamarine;
    border: 1px solid black;
    border-radius: 1px;
    margin: 5px;

}






#footer {
   
    position: static;
    bottom: 0vw;
    width: 100%;
    background-color: aquamarine;
    color:white;
    
    

}

#login-form {
    padding: 5% 25% 5% 25%;
    text-align: center;
    background-color: aquamarine;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
}

.google-icon-wrapper {
    background-color: white;
    display: flex;
    padding: 2%;
    margin:1% 20% 1% 20%;
    font-size: 20px;
    justify-content: space-between;
    cursor: pointer;
    text-align: center;
    align-items: center;
    border-radius: 2%;

}


.btn-login {
    background-color: rgba(243, 209, 132, 1);
    border: none;
    
}
.btn-login:hover {
    background-color: rgba(240, 173, 100, 1);
   
    
}



